<!DOCTYPE html>
<html>
  <head>
    <title>FullLab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'shared/navigation' %>
      <div class="alert alert-danger hide"></div>
      <%= yield %>
    </div>
  </body>
</html>
